$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font: bold 14px Arial, sans-serif;
}

body {
  background-color: pink;
  background-attachment: fixed;
  background-size: 100% auto;
  margin: 0;
  padding: 0;
}

html {
	height: 100%;
	background: white;
	background: radial-gradient(circle, #fff 20%, #ccc);
	background-size: cover;
}

nav {
  margin: 0 40px 40px 40px;
  height: 40px;
  border-bottom: 1px solid black;
}

nav div {
  border-right: 1px solid black;
}

.small {
  width: 10%;
  height: 40px;
  background-color: rebeccapurple;
}

.left {
  float: left;
}

.right {
  float: right;
}

.large {
  width: 70%;
  height: 40px;
  background-color: cornflowerblue;
}

h1 {
  text-align: center;
}

.wrapper {
  height: 400px;
}

main {
  width: 75%;
  float: left;
}

p.copyright {
  clear: both;
  text-align: center;
  margin-top: 50px;
  padding-top: 10px;
}

footer {
  width: 100%;
  height: 40px;
  background-color: cornflowerblue;
  clear: both;
  margin-top: 10px;
}

p input, input[type=submit] {
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: buttontext;
  background-color: buttonface;
  box-sizing: border-box;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
}

/* Using box shadows for 3D effect */
#game-area {
	width: 275px;
	height: auto;

	margin: 100px auto;
	padding: 20px 20px 9px;

	background: #9dd2ea;
	background: linear-gradient(#9dd2ea, #8bceec);
	border-radius: 3px;
	box-shadow: 0px 4px #009de4, 0px 10px 15px rgba(0, 0, 0, 0.2);
}


/* Inset shadow on the screen to create indent */
.top .screen {
	height: 40px;
	width: 225px;
	padding: 0 10px;

	background: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);

	float: left;

	/* Text */
	font-size: 17px;
	line-height: 40px;
	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	text-align: right;
	letter-spacing: 1px;
}

/* Clear floats */
.game-board, .top {
  overflow: hidden;
}


.game-board span {
	float: left;
	position: relative;
	top: 0;

	width: 70px;
	height: 70px;

	background: white;
	border-radius: 3px;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);

	margin: 0 7px 11px 0;

	color: #888;
	line-height: 36px;
	text-align: center;

	/* prevent selection of text inside keys */
	user-select: none;

	/* Smoothing out hover and active states using css3 transitions */
	transition: all 0.2s ease;
}

/* hover effects */
.game-board span:hover {
	background: #9c89f6;
	box-shadow: 0px 4px #6b54d3;
	color: white;
}

/* Simulating "pressed" effect on active state of the keys by removing the box-shadow and moving the keys down a bit */
.game-board span:active {
	box-shadow: 0px 0px #6b54d3;
	top: 4px;
}
