$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: pink;
  background-attachment: fixed;
  background-size: 100% auto;
}

.blended_grid {
  display: block;
  width: 1000px;
  overflow: auto;
  margin: 50px auto 0;
}

.pageHeader {
  background-color: rgba(0, 0, 0, 0.5);
  float: left;
  clear: none;
  height: 200px;
  width: 1000px;
}

.pageLeftMenu {
  background-color: rgba(0, 0, 0, 0.5);
  float: left;
  clear: none;
  height: 600px;
  width: 160px;
}

.pageContent {
  background-color: rgba(0, 0, 0, 0.5);
  float: left;
  clear: none;
  height: 600px;
  width: 680px;
}

.pageRightMenu {
  background-color: rgba(0, 0, 0, 0.5);
  float: left;
  clear: none;
  height: 600px;
  width: 160px;
}

.pageFooter {
  background-color: rgba(0, 0, 0, 0.5);
  float: left;
  clear: none;
  height: 100px;
  width: 1000px;
}
